@import "bootstrap";
@import "compass/css3";

.hidden {
  opacity: 0;
}
.transition {
  @include transition(all 250ms ease-in-out);
}
.transition-transform {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}
.transition-height {
  @include transition-property(height);
}

.container {
  position: relative;
}
.cover-picker {
  font-size: 0;
  margin-top: 40px;
  margin-bottom: 0;
  
  li {
    line-height: 1.2;
    margin-right: 32px;
    display: inline-block;
    
    @extend .transition;
    @extend .transition-transform;
    
    &:last-child {
      margin-right: 0;
    }
    
    &.active {
      @include transform(scale(1.1));
      .cover-artist { opacity: 0; }
    }
  }
  a {
    display: block;
    position: relative;
    margin-bottom: 3px;
    @include box-shadow(0 3px 8px rgba(0,0,0,.25));
    
    &::after {
      width: 160px;
      height: 1px;
      background: rgba(255,255,255,.5);
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
    }
  }
  img {
    width: 160px;
    border: 1px solid rgba(0,0,0,.5);
  }
}
.cover-title {
  font-size: 13px;
  font-weight: bold;
  display: block;
}
.cover-artist {
  color: #777;
  font-size: 12px;
}

.playlist-indicator {
  width: 0; height: 0;
  display: block;
  position: absolute;
  border: 16px solid transparent;
  border-left-width: 15px;
  border-right-width: 14px;
  border-bottom-color: #000;
  bottom: -1px;
  left: 70px;
  
  @extend .transition;
  @include transition-property(left);
}


.playlist {
  width: 100%;
  background: #000;
  border-top: 1px solid #666;
  overflow: hidden;
  
  &.closed {
    height: 0;
  }
  &.expanded {
    height: auto;
  }
}
.playlist-options {
  height: 20px;
  
  .nav { display: none; }
}
.album-actions {
  display: none;
}
.album-info {
  padding-left: 40px;
}
.album-title, .album-artist {
  line-height: 1.2;
  margin: 0;
}
.album-title {
  font-size: 18px;
}
.album-artist {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
.album-tracks {
  color: #cb3a59;
  margin: 0;
  padding: 0;
  @include column-count(2);
  @include column-gap(40px);
  
  li {
    line-height: 1.6;
    list-style: none;
    counter-increment: track;
  }
  li::before {
    content: counter(track);
    width: 1em;
    text-align: right;
    display: block;
    margin-right: 0.8em;
    float: left;
  }
  li > * {
    display: inline;
  }
  
  .track-title {
    color: #ccc;
    font-weight: normal;
  }
  .track-playtime {
    float: right;
  }
}
.album-cover img {
  width: 300px;
  margin-left: 20px;
}